[MAIN]

ignore-paths=^.*/migrations/.*$,

load-plugins=pylint_django

django-settings-module=snaplapse.settings

[MESSAGES CONTROL]

disable=missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring
