[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
boto3 = "*"
dj-database-url = "*"
pylint = "*"

[dev-packages]
pylint = "*"
pre-commit = "*"
pylint-django = "*"

[requires]
python_version = "3.10"
